@media only screen and (min-width: 220px) and (max-width: 959px) {
  .mobile-center {
    text-align: center;
  }
}
nav.uk-navbar-container {
  padding: 10px 3%;
  height: 50px;
}
.height-mix {
  min-height: 450px;
}
@media only screen and (min-width: 220px) and (max-width: 959px) {
  .height-mix {
    min-height: 400px;
    margin-bottom: 10%;
  }
}
.label-size {
  font-size: 18px !important;
}
.padding-medium {
  padding: 30px;
}
.text-color-grey {
  color: #555 !important;
}
.border-radius-full {
  border-radius: 100px;
}
.count-work {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #555;
  color: #fff;
  border-radius: 100px;
  font-size: 25px;
}
.border-1 {
  border-radius: 5px;
  padding: 10% 15px;
  background: #fff;
}
.only-border {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.only-active-border {
  border: 1px solid #1e87f0;
  border-radius: 3px;
}
.image-responsive {
  width: 70%;
}
.image-responsive1 {
  width: 86%;
}
.bg-text-b {
  background: rgba(0, 0, 0, 0.8);
}
.brand-logo {
  position: absolute;
  top: -10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  background: #fff;
  color: #555;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #555;
}
.brand-logo img {
  border-radius: 10px;
}
.color-white {
  color: #fff !important;
}
.bg-color-white {
  background: #fff !important;
  padding: 10px 20px !important;
  color: #1d87f0 !important;
  border-radius: 50px !important;
  cursor: pointer;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ebebeb !important;
}
.bg-color-g {
  background: #e5e5e5 !important;
}
.brand-box {
  padding: 0px 10%;
}
.facebook {
  background: #3C5A99;
}
.google {
  background: #DB4437;
}
.pb {
  padding-bottom: 60px !important;
}
.header-link-h {
  height: 58px;
}
.brand-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
}
.brand-btn .b-content {
  width: 2px;
  height: 24px;
  background: #fff;
}
.brand-btn i {
  padding: 0px 10px 0px 5px;
}
.brand-btn div {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
